@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/*
font-family: 'Lexend Deca', sans-serif; 400
font-family: 'Big Shoulders Display', cursive; 700
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-height: 100vh;
}
.cards{
    display: flex;
}
.card{
    padding-left: 25px;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.titre{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}
.texte{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.btn{
    width: 130px;
    height: 50px;
    border-radius: 35px;
}
#sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
#suvs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
#sedans>button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
#suvs>button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
#luxury>button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
@media screen and (max-width: 850px) {
    .cards{
        width: 280px;
        height: 1110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #sedans{
        border-radius: 10px 10px 0 0;
    }
    #luxury{
        border-radius: 0 0 10px 10px;
    }
    
}