@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*
font-family: 'Poppins', sans-serif; 400 600
font-family: 'Open Sans', sans-serif; 400
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 auto;
    min-height: 100vh;
}
header{
    height: 100px;
    margin-left: 150px;
}
main{
    display: flex;
    justify-content: space-around;
    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.titre{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    width: 450px;
}
.texte{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    width: 528px;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 15px;
    width: 150px;
    border: 1px solid;
    border-radius: 25px;
    color: hsl(257, 40%, 49%);
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
ul{
    margin-right: 15px;
    list-style-type: none;
    display: flex;
    justify-content:end;
    align-items: center;
}
li>a{
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    color: white;
}
li>a:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
.attribution{
    font-size: 11px;
    text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%);
}