/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
font-family: 'Poppins', sans-serif; heading
font-family: 'Open Sans', sans-serif; body
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background-image: url("./images/bg-desktop.svg");
    background-position: top, left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
header>img{
    margin-left: 60px;
}
.page{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 150px;
}
.left{
    margin-top: 55px;
    margin-left: 60px;
}
.left>img{
    width: 950px;
}
.right
{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    width: 500px;
}
input{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
}
.right>h1{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-weight: 600;
}
input:hover{
    background-color: hsl(300, 69%, 71%);
    color: whitesmoke;
}
.foot-list{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-right: 15px;
}
.foot-link{
    list-style-type: none;
    padding: 5px;
}
.foot-list>.foot-link:hover{
    background-color: hsl(300, 69%, 71%);
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}